<% if question %>
  <h3 class="title is-4">質問: <%= question.question_text %></h3>

  <div class="buttons">
    <%= form_with url: show_question_path(question.category), method: :post, data: { turbo_frame: "question-frame-#{question.id}" }, local: true, class: "mb-2" do %>
      <%= hidden_field_tag :response, "はい" %>
      <%= submit_tag "はい", class: "button is-link is-light" %>
    <% end %>

    <%= form_with url: show_question_path(question.category), method: :post, data: { turbo_frame: "question-frame-#{question.id}" }, local: true, class: "mb-2" do %>
      <%= hidden_field_tag :response, "いいえ" %>
      <%= submit_tag "いいえ", class: "button is-link is-light" %>
    <% end %>
  </div>
<% else %>
  <div class="notification is-danger">
    <p>質問が見つかりませんでした。</p>
  </div>
<% end %>

<turbo-frame id="question-frame-<%= question.id %>" class="box mt-4">
</turbo-frame>