<h1>文字を一文字ずつ表示</h1>

<div id="tops">
  <%= render partial: "tops/my_name", locals: { current_text: @current_text } %>
</div>

<div id="button">
  <%= button_to '次の文字を表示', my_show_tops_path, method: :post, remote: true, data: { turbo_frame: '_top' }, id: 'my_show_button' %>
  <%= link_to 'ルートページに戻る', root_path, class: 'button' %>
</div>


<div id='modal-container'></div>
<div id='message'></div>

<%= form_with url: tops_path, data: { turbo: true } do |f| %>
  <%= f.submit '送信' %>
<% end %>
